<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addInfo.css">
    <title>Edit apartment</title>
</head>
<body>
<div class="container">
   <h1 style="font-size: 26px; text-align:center;">Edit Apartment</h1>
{{#each rows}}
    <form method="POST" action="/admin/edit/{{id}}&{{ID}}?_method=PUT" >
    <div class="row">
      <div class="col-25">
        <label for="fname">Monthly Cost</label>
      </div>
      <div class="col-75">
        <input type="texnumbert" id="fname" value="{{monthlyCost}}" name="monthlyCost" placeholder="$"> 
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Space</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" value="{{space}}" name="space" placeholder="......">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">City</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" value="{{city}}" name="city" placeholder="......">
      </div>
    </div>
        <div class="row">
      <div class="col-25">
        <label for="lname">Location</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" value="{{location}}" name="location" placeholder="......">
      </div>
    </div>
        <div class="row">
      <div class="col-25">
        <label for="lname">Number of rooms </label>
      </div>
      <div class="col-75">
        <input type="number" id="lname"  value="{{roomCount}}" name="roomCount" placeholder="......">
      </div>
    </div>
        <div class="row">
      <div class="col-25">
        <label for="lname">Number of roomates</label>
      </div>
      <div class="col-75">
        <input type="number" id="lname" value="{{roommates}}"  name="roommates" placeholder="......">
      </div>
    </div>
            <div class="row">
      <div class="col-25">
        <label for="lname">Number of remaining roomates</label>
      </div>
      <div class="col-75">
        <input type="number" id="lname" value="{{remainingRoommates}}" name="Remaining" placeholder="......">
      </div>
    </div>
    
        <div class="row">
      <div class="col-25">
        <label for="lname">Owner Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" value="{{ownerName}}" name="ownerName" placeholder="......">
      </div>
    </div>
        <div class="row">
      <div class="col-25">
        <label for="lname">Owner Phone</label>
      </div>
      <div class="col-75">
        <input type="number" id="lname" value="{{ownerPhone}}" name="ownerPhone" placeholder="......">
      </div>
    </div>
            <div class="row">
      <div class="col-25">
        <label for="lname">Description</label>
      </div>
      <div class="col-75">
    <textarea id="subject" name="description"  value="{{description}}" style="height:200px"></textarea>
      </div>
    </div>
        <div class="row">
      <input type="submit" value="edit">
    </div>

  </form>
  {{/each}}
</div>
</body>
</html>
