<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
    <title>Apartments</title>
</head>
<body>
  <header class="header" id="navigation-menu">
    <div class="container" >
      <nav>
       
        <a href="#" class="logo"> <img src="/image/logo.png" alt=""> </a>
 {{#each results}}
        <ul class="nav-menu">
          <li> <a href="/user/{{id}}" class="nav-link" style="color: #C1B086;">Home</a> </li>
           <li> <a href="/profile/{{id}}" class="nav-link" style="color: #C1B086;">Profile</a> </li>
          <li><a href = "/logout" class="nav-link" style="color: #C1B086;">LOG Out </a></li>
        </ul>
        <div class="hambuger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </div>
  </header>

<section class="room top" id="departments" >
    <div class="container">
      
<div id="cover">
<form id="form" action="/user/search/{{id}}" method="get"> 
{{/each}}
    <div class="tb">
      <div class="td"><input type="text" name="name" placeholder="Search by City name ..." value="{{searchInput}}"></div>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>                                                       
 </div>


      <div class="heading_top flex1">
        <div class="heading">
          <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
          <h2>Apartments</h2>
        </div>
      </div>
     

      <div class="content grid">
        {{#if message }}
        <h4 class="errorMsg">{{message}}</h4>
        {{/if}}
          {{#each rows}}
        <div class="box">
          <div class="img">
            <img src="data:image/png;base64,{{imageHere}}" alt="">
          </div>
          <div class="text">
            <h3>{{roommates}} Roommates</h3>
            <h4>{{remainingRoommates}} Remaining</h4>
            <h4>{{city}}, {{location}} </h4>
            <p> <span>$</span>{{monthlyCost}} <span>/per month</span> </p>
            <form action="/user/info/{{id}}" method="get">
            <input type="submit" value="see more" style="background-color: #C1B086; width:30%; height:40px;  font-size:15px; margin-top:5px">
            </form>
          </div>
        </div>
     {{/each}}   
      </div>
    </div>
  </section>
<script>
 const form = document.getElementById('form');
   const inputF = document.getElementById("myInput");
  
            
 function filter()
 {
let inputValue = document.getElementById("myInput").value; 
console.log("input " +inputValue);
  document.getElementById("myInput").innerHTML = inputValue; 
   form.submit();
 }
</script>
</body>
</html>